.banniere{
  background: linear-gradient(140deg, #00b4d8 0%, #ffffff 100%);
  height: 150px;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}
nav{
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 5px;
    background-color: darkgrey;
    
}
a{
    display: block;
    display: flex;
    width: 125px;
    height: 25px;
    border: 1px solid black;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    background-color: white;
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    width: 90%;
    margin: 10px auto;
}

.programation div{
    height: 30px;  
    border: 1px solid black;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;     /* vertical */
    margin-left: 5px;
    padding: 5px;
}

.programation .trois_quart {
    background: linear-gradient(
        90deg,
        #00b4d8 0%,
        #00b4d8 60%,
        white 100%
    );
}

.programation .demi {
    background: linear-gradient(
        90deg,
        #00b4d8 0%,
        #00b4d8 40%,
        white 85%
    );
}

.programation .un_quart {
    background: linear-gradient(
        90deg,
        #00b4d8 0%,
        #00b4d8 25%,
        white 60%
    );
}
.programation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    
}
